/* === font-family scss (index 03) === */

.font-sans {
  font-family: var(--font_sans);
}

/* === color scss (index 03) === */

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);

}

.black {
  color: var(--black);
}


/* === font-weight scss (index 03) === */
.fw {
  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }
}

.mb-24{
  margin-bottom: 24px;
}

/* === container scss (index 03) === */
.rr-container {
  &-1250 {
    max-width: 1250px;
  }
}

.gx-20 {
  --bs-gutter-x: 20px;
}
.gx-40 {
  --bs-gutter-x: 40px;
}

.g-24,
.gy-24 {
	--bs-gutter-y: 24px;
}
.gy-20 {
	--bs-gutter-y: 20px;
}

.gy-40 {
	--bs-gutter-y: 40px;
}

/* === section scss (index 03) === */
header {
  margin-bottom: -1px;
  z-index: 100;
}

section {
  margin-bottom: -1px;
}


.section-space-120 {
  padding-top: 120px;
  padding-bottom: 120px;

  @media #{$lg} {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media #{$sm,$xs} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-space-top {
  padding-top: 120px;

  @media #{$lg} {
    padding-top: 100px;
  }

  @media #{$md} {
    padding-top: 70px;
  }

  @media #{$sm,$xs} {
    padding-top: 60px;
  }
}

.section-space-bottom {
  padding-bottom: 120px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 70px;
  }

  @media #{$sm,$xs} {
    padding-bottom: 60px;
  }
}
.section-space-bottom-130 {
  padding-bottom: 130px;

  @media #{$lg} {
    padding-bottom: 100px;
  }

  @media #{$md} {
    padding-bottom: 70px;
  }

  @media #{$sm,$xs} {
    padding-bottom: 60px;
  }
}