.blog-standard {
    &__sidebar {

        &__widget {
            margin-bottom: 40px;
            background: #E7F0FB;
            border-radius: 14px;
            padding: 40px 44px;

            &:last-child {
                margin-bottom: 0;
            }
            @media #{$lg} {
                padding: 40px 15px;
            }

            @media #{$xs} {
                margin-bottom: 30px;
            }
        }

        &-form {
            position: relative;

            input {
                width: 100%;
                height: 60px;
                outline: none;
                padding: 15px 56px 15px 23px;
                border: none;
                background: #E7F0FB;
                border: 1px solid rgba(17, 17, 17, 0.08);

                &::placeholder {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.03em;
                    color: rgba(17, 17, 17, 0.4);                    
                }
            }

            button {
                right: 5px;
                top: 50%;
                width: 49px;
                height: 49px;
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                transform: translate(-0%, -50%);
                background: var(--primary);
                border-radius: 8px;
                i {
                    font-size: 15px;
                    font-weight: 400;
                    color: var(--white);
                }
            }
        }

        &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.03em;
            padding-bottom: 17px;
            color: var(--secondary);
            margin-bottom: 40px;
            border-bottom: 1px solid rgb(17, 17, 17, 10%);
        }

        &__Categories {
            ul {
                list-style: none;

                li {
                    &:not(:last-child) {
                        margin-bottom: 24px;
                    }

                    a {
                        display: flex;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 28px;
                        color: rgba(17, 17, 17, 0.74);                        
                        align-items: center;
                        padding: 15px 23px;
                        justify-content: space-between;
                        transition: all 0.3s ease-in-out;
                        background: #E7F0FB;
                        border: 1px solid rgba(17, 17, 17, 0.08);
                        border-radius: 10px;

                        i {
                            font-size: 18px;
                            font-weight: 400;
                            color: rgb(0 24 28 / 74%);
                        }
                    }

                    &:hover {
                        a {
                            color: var(--white);
                            border-color: transparent;
                            background-color: var(--primary);

                            i {
                                color: var(--white);
                            }
                        }
                    }
                }
            }
        }

        &__post {
            &-item {
                gap: 14px;
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 24px;
                }

                @media #{$xs} {
                    flex-wrap: wrap;
                }
            }

            &-thumb {
                width: 108px;
                min-width: 108px;
                height: 106px;

                @media #{$lg} {
                    width: 90px;
                    min-width: 90px;
                    height: 90px;
                }

                @media #{$md} {
                    width: 70px;
                    min-width: 70px;
                    height: 70px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            &-meta {
                span {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 28px;
                    margin-bottom: 2px;
                    display: inline-block;
                    letter-spacing: -0.14px;
                    color: var(--secondary);
                }
            }

            &-title {
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: -0.02em;
                color: var(--secondary);
                font-family: var(--font_inter);
                @media #{$lg,$xs} {
                    font-size: 15px;
                    line-height: 20px;
                }

                a:hover {
                    color: var(--primary);
                }
            }
        }

        &__popular {
            &-tags {
                gap: 10px;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                align-items: center;

                li {
                    border: 1px solid rgba(17, 17, 17, 0.1);
                    border-radius: 30px;
                    cursor: pointer;
                    padding: 10.5px 16.4px;

                    color: var(--secondary);
                    transition: all 0.3s;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    letter-spacing: -0.03em;

                    &:hover {
                        background: var(--primary);
                        color: var(--white);
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }
}


.mb-25 {
    margin-bottom: 25px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-45 {
    margin-bottom: 55px;

    @media #{$md} {
        margin-bottom: 30px;
    }
}

.mb-55 {
    margin-bottom: 55px;

    @media #{$md} {
        margin-bottom: 30px;
    }
}

.mb-65 {
    margin-bottom: 65px;

    @media #{$md} {
        margin-bottom: 30px;
    }
}

// single-blog
.single-blog {
    &__inner {
        display: grid;
        gap: 130px;
        grid-template-columns: 1fr 436px;

        @media #{$xl} {
            gap: 50px;
            grid-template-columns: 1fr 400px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 300px;
        }

        @media #{$md} {
            grid-template-columns: auto;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(17, 17, 17, 0.1);
        padding-bottom: 14px;
        margin-top: 24px;
        margin-bottom: 25px;

        ul {
            display: flex;
            align-items: center;
            gap: 44px;

            li {
                list-style: none;
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: -0.03em;
                color: var(--body-bg);
                font-family: var(--font_dm-sans);

                i {
                    margin-right: 8px;
                }
            }

            .user {
                color: var(--secondary);
            }
        }

        .tag {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.03em;
            color: var(--secondary);
            font-family: var(--font_dm-sans);
            border: 1px solid rgba(17, 17, 17, 0.1);
            border-radius: 40px;
            padding: 10px 23.6px;
            display: inline-block;
        }
    }

    &__thumb {
        overflow: hidden;
        border-radius: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    &__content {

        .title {
            font-weight: 600;
            font-size: 36px;
            line-height: 36px;
            letter-spacing: -0.03em;
            color: var(--secondary);
            margin-bottom: 16px;

            @media #{$xs} {
                font-size: 30px;
            }
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #555555;
        }

        blockquote {
            gap: 44px;
            display: flex;
            padding: 54px 60px;
            margin-bottom: 45px;
            background: #E7F0FB;
            border-radius: 18px;


            @media #{$sm} {
                gap: 30px;
                display: flex;
                padding: 30px 25px;
                margin-bottom: 30px;
            }

            @media #{$xs} {
                flex-wrap: wrap;
                gap: 20px;
            }

            .media {
                @media #{$xs} {
                    margin-bottom: 0;
                }
            }

            .title {
                font-weight: 600;
                font-size: 30px;
                line-height: 30px;
                letter-spacing: -0.02em;
                color: #111111;
                color: var(--secondary);
                max-width: 689px;
                margin-bottom: 25px;

                @media #{$lg} {
                    font-size: 21px;
                    line-height: 32px;
                }
            }

            .sub-title {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.03em;
                opacity: 0.7;
                color: var(--secondary);
                position: relative;
                padding-left: 24px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 16px;
                    height: 1px;
                    background: var(--secondary);
                    opacity: 0.7;
                }
            }
        }

        .media {
            margin-bottom: 35px;
            overflow: hidden;
            border-radius: 20px;

            @media #{$md} {
                margin-bottom: 30px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }

    &__wrap {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;
        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
        .media {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__tags {
        gap: 10px;
        display: flex;
        padding: 23px 0;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(17, 17, 17, 0.15);
        border-bottom: 1px solid rgba(17, 17, 17, 0.15);
        flex-wrap: wrap;

        .date {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: var(--secondary);
            font-family: var(--font_inter);

            span {
                color: var(--red);
                text-decoration: underline;
            }

        }

        &-list {
            gap: 8px;
            display: flex;
            list-style: none;
            align-items: center;

            @media #{$xs} {
                flex-wrap: wrap;
            }

            li {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: -0.01em;
                color: var(--secondary);
                padding: 6px 19px;
                border-radius: 500px;
                border: 1px solid rgba(17, 17, 17, 0.1);
            }
        }
    }
}


// comment-form 
.comment {
    &__wrapper {
        margin-top: 95px;
        border-bottom: 1px solid rgb(79, 81, 73, 0.20);

        @media #{$md} {
            margin-top: 30px;
        }
    }

    &-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -0.03em;
        margin-bottom: 35px;
        color: var(--secondary);

        @media #{$md} {
            margin-bottom: 30px;
            font-size: 30px;
            list-style: 39px;
            letter-spacing: 0;
        }
    }

    &__author {
        gap: 29px;
        display: grid;
        grid-template-columns: 80px 1fr;
        padding-bottom: 29px;
        padding-top: 40px;
        border-top: 1px solid rgba(17, 17, 17, 0.15);


        @media #{$lg} {
            padding-bottom: 40px;
        }


        @media #{$xs} {
            gap: 10px;
            grid-template-columns:  1fr;
        }

        .author_thumb {
            min-width: 80px;
            height: 75px;
            width: 80px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        .author_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 37px;

            @media #{$lg} {
                flex-wrap: wrap;
            }

            .name {
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -0.03em;
                color: var(--secondary);
            }

            .date {
                color: #526265;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: var(--secondary);
                letter-spacing: -0.48px;
            }

            .reply {
                display: flex;
                align-items: center;
                gap: 14px;

                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.48px;
                    color: var(--secondary);
                    padding: 4.5px 13px;
                    transition: all 0.3s;
                    border-radius: 8px;

                    &:hover {
                        color: var(--white);
                        background: var(--primary);
                    }
                }
            }
        }

        .comment {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #555555;
            @media #{$xl} {
                br{
                    display: none;
                }
            }
        }


    }

    ul {
        list-style: none;

        li {
            &:first-of-type {
                .blog-details {
                    &__Comment {
                        &__author {
                            padding-left: 30px;

                            @media #{$lg} {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }

            .comment_reply {
                .comment {
                    &__author {
                        padding-left: 66px;
                        padding-top: 63px;

                        @media #{$lg} {
                            padding-left: 40px;
                        }

                        @media #{$sm} {
                            padding-left: 20px;
                            padding-top: 25px;
                        }

                        @media #{$xs} {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}

.comment-form {
    margin-top: 95px;
    @media #{$md} {
        margin-top: 40px;
    }
    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -0.03em;
        margin-bottom: 12px;
        color: var(--secondary);

        @media #{$md} {
            font-size: 30px;
            list-style: 39px;
            letter-spacing: 0;
        }
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.03em;
        color: #555555;
        margin-bottom: 35px;


        @media #{$md} {
            margin-bottom: 30px;
        }
    }

    &__input {
        margin-top: 24px;

        input {
            width: 100%;
            height: 54px;
            outline: none;
            padding: 0 24px;
            background: transparent;
            border: 1px solid rgba(17, 17, 17, 0.15);
            border-radius: 10px;

            &::placeholder {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.03em;
                color: #555555;
            }
        }
    }

    &__textarea {
        line-height: 1;

        textarea {
            width: 100%;
            height: 187px;
            padding: 23px;
            background: transparent;
            outline: none;
            border: 1px solid rgba(17, 17, 17, 0.15);
            border-radius: 14px;

            &::placeholder {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.01px;
                color: #848580;
            }
        }
    }

    &__agree {
        margin-top: 24px;
        gap: 11px;
        display: flex;
        align-items: center;

        .form-check-input {
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
            border-radius: 4px;
            border-color: rgb(79, 81, 73, 0.20);

            &:focus {
                box-shadow: none;
            }

            &:checked {
                background-color: var(--secondary);
            }
        }

        label {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #555555;
        }
    }

    &__btn {
        margin-top: 40px;

        .rr-btn-primary {
            background: var(--primary);
            border-radius: 15px;
            padding: 14.5px 37.5px;

            .text {
                span {
                    color: var(--white);
                }
            }

            &:hover {
                .text {
                    span {
                        color: var(--white);
                    }
                }
            }
        }
    }
}