// contact-us css

.contact-us {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 565px;
        gap: 108px;

        @media #{$xl} {
            grid-template-columns: 1fr 530px;
            gap: 40px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 394px;
        }

        @media #{$md} {
            grid-template-columns: 1fr 372px;
        }
        @media #{$sm} {
            grid-template-columns: 1fr;
        }

    }

    &__contact-from {
        .rr-btn {
            background: var(--primary);
            border-radius: 12px;
            padding: 16px 34.5px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -0.03em;
        color: #111111;
        font-family: var(--font_raleway);
        margin-bottom: 35px;

        @media #{$md} {
            font-size: 32px;
            line-height: 35px;
            margin-bottom: 20px;
        }
        @media #{$xs} {
            font-size: 27px;
            line-height: 35px;
        }
    }



    &__form-group {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media #{$md} {
            grid-template-columns: 1fr;
        }
        @media #{$sm} {
            grid-template-columns: repeat(2, 1fr);
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &__input {
        width: 100%;
        position: relative;

        input {
            width: 100%;
            border: none;
            height: 55px;
            border-radius: 10px;
            border: 1px solid rgba(17, 17, 17, 0.15);
            transition: all 0.3s ease-in-out;
            padding: 17.5px 20px 17.5px 24px;
            border-radius: 10px;

            &::placeholder {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.03em;
                color: #555555;
                font-family: var(--font_inter);
            }

            &:hover,
            &:focus {
                border-color: #E5E5E5 !important;
                box-shadow: none;
                outline: none;
                background-color: var(--white);
            }
        }

        input[type="date"] {
            width: 100%;
            height: 55px;
            padding: 0 24px;
            border-radius: 10px;
            border: 1px solid rgba(17, 17, 17, 0.15);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #555555;
            font-family: var(--font_inter);

            &::-webkit-calendar-picker-indicator {
                cursor: pointer;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.03em;
                color: #555555;
            }
        }
    }

    &__icon {
        i {
            font-weight: 300;
            font-size: 16px;
            line-height: 1;
            color: var(--body_text);
        }
    }

    &__select {
        position: relative;

        & i {
            top: 20px;
            left: 20px;
            display: block;
            position: absolute;
            color: var(--primary);
        }

        .nice-select {
            float: inherit;
            height: 54px;
            border: none;
            position: relative;
            background-color: var(--white);
            transition: all 0.3s ease-in-out;
            border: 1px solid rgba(17, 17, 17, 0.15);
            border-radius: 10px;
            display: flex;
            padding-left: 24px;
            padding-right: 24px;

            .icon {
                position: absolute;
                top: 0%;
                right: 56px;
                font-size: 20px;
                transform: translateY(-50%);
                transition: transform 0.3s ease;

                i {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: var(--secondary);
                }
            }

            &.open {
                background-color: var(--white);
                border: 1px solid rgba(17, 17, 17, 0.15);
                border-radius: 10px;

                .icon i {
                    transform: rotate(180deg);
                }
            }

            &::after {
                display: none;
            }

            .current {
                display: flex;
                align-items: center;
                font-family: var(--font_inter);
                border: 1px solid none;
                border-radius: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 1;
                letter-spacing: -0.03em;
                color: #555555;
            }

            &:focus {
                outline: none;
            }

            .list {
                width: 100%;
            }
        }
    }



    &__textarea {
        margin-top: 20px;

        & textarea {
            width: 100%;
            border: none;
            margin-bottom: 40px;
            padding: 20px 24px 88px 24px;
            border: 1px solid rgba(17, 17, 17, 0.15);
            border-radius: 10px;

            &::placeholder {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.03em;
                color: #555555;
                font-family: var(--font_inter);
            }

            &:hover,
            &:focus {
                border-color: #E5E5E5 !important;
                box-shadow: none;
                outline: none;
                background-color: var(--white);
            }
        }
    }

    &__content {
        margin-bottom: 35px;

        .title {
            font-weight: 600;
            font-size: 36px;
            line-height: 36px;
            letter-spacing: -0.03em;
            color: var(--secondary);
            font-family: var(--font_raleway);
            margin-bottom: 20px;
            @media #{$xs} {
                font-size: 28px;
                line-height: 36px;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #555555;

        }
    }

    &__box {
        max-width: 367px;
    }

    &__info {

        .info-box {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 20px 0;
            border-bottom: 1px solid rgba(17, 17, 17, 0.1);

            &:first-child {
                border-top: 1px solid rgba(17, 17, 17, 0.1);
            }

            .icon {
                width: 60px;
                height: 60px;
                background: #E7F0FB;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .content {
                .decs {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                    color: rgba(17, 17, 17, 0.7);
                    font-family: var(--font_dm-sans);
                    margin-bottom: 2px;
                }

                a {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: -0.03em;
                    color: var(--secondary);
                    font-family: var(--font_dm-sans);

                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 40px;

        li {
            list-style: none;

            a {
                width: 44px;
                height: 44px;
                border: 1px solid rgba(17, 17, 17, 0.15);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: all .3s ease-in-out;

                i {
                    color: var(--secondary);
                    transition: all .3s ease-in-out;
                }

                &:hover {
                    background: var(--primary);
                    border: 1px solid transparent;

                    i {
                        color: var(--white);
                    }
                }
            }
        }
    }

    &__opening-hours {
        margin-top: 35px;

        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 26px;
            letter-spacing: -0.03em;
            color: var(--secondary);
            font-family: var(--font_raleway);
            margin-bottom: 20px;
        }

        .opening-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            border-bottom: 1px solid rgba(17, 17, 17, 0.1);
            padding-bottom: 8px;

            &:not(:first-child) {
                padding-top: 8px;
            }

            .day {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: rgba(17, 17, 17, 0.7);
                font-family: var(--font_dm-sans);
            }

            .time {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: var(--secondary);
                font-family: var(--font_dm-sans);
            }
        }
    }

}

.contact-us-map {
    padding: 0 50px;
    @media #{$lg} {
        padding: 0 15px;
    }
    .maps {
        width: 100%;
        border-radius: 15px;
        height: 731px;
        margin-top: 8px;
        @media #{$lg} {
            height: 500px;
        }
        @media #{$sm} {
            height: 350px;
        }
    }
}