.doctor-details {

    &__inner {
        display: grid;
        grid-template-columns: 1fr 550px;
        gap: 100px;
        margin-bottom: 48px;

        @media #{$xl} {
            gap: 75px;
        }

        @media #{$lg} {
            gap: 35px;
            grid-template-columns: 1fr 460px;
        }

        @media #{$md} {
            gap: 15px;
            grid-template-columns: 1fr 350px;
        }

        @media #{$sm} {
            gap: 40px;
            grid-template-columns: 1fr;
        }
    }

    &__content {
        margin-top: 20px;
        .details {
            margin-bottom: 37px;

            @media #{$lg} {
                margin-bottom: 15px;
            }

            .name {
                font-weight: 600;
                font-size: 50px;
                line-height: 64px;
                text-transform: capitalize;
                color: #04030A;                
                font-family: var(--font_inter);
                margin-bottom: 3px;

                @media #{$lg} {
                    font-size: 35px;
                    line-height: 42px;
                }


                @media #{$xs} {
                    font-size: 32px;
                    line-height: 36px;
                }
            }

            .meta {
                font-weight: 500;
                font-size: 24px;
                line-height: 48px;
                color: #343434;
                opacity: 0.7;
                font-family: var(--font_inter);
            }
        }

        .text {
            max-width: 612px;
        }

        & p {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.03em;
            text-transform: capitalize;
            color: #04030A;
            opacity: 0.6;
            font-family: var(--font_inter);
            max-width: 630px;
        }
    }

    &__social {
        margin-top: 48px;

        @media #{$lg} {
            margin-top: 35px;
        }

        & ul {
            &:first-child {
                border-top: 1px dashed rgb(4 3 10 / 14%);
            }

            & li {
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                text-transform: capitalize;
                color: #04030A;
                font-family: var(--font_kanit);
                list-style: none;
                border-bottom: 1px dashed rgb(4 3 10 / 14%);
                padding: 11.5px 0;
                transition: all .3s ease-in-out;

                & i {
                    font-weight: 400;
                    font-size: 16px;
                    transition: all .3s ease-in-out;
                    color: #04030A;
                    margin-right: 15px;

                }

                &:hover {
                    background: #F5F5F5;

                    & i {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    &__thumb {
        height: fit-content;
        @media #{$sm} {
            max-height: 600px;
            height: 100%;
        }

        @media #{$xs} {
            max-height: 100%;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 14px;
        }
    }

    &__progress {
        max-width: 640px;
    }

    &__experience {
        .title {
            font-weight: 600;
            font-size: 44px;
            line-height: 54px;
            text-transform: capitalize;
            color: #04030A;
            font-family: var(--font_raleway);
            margin-bottom: 24px;
        }

        & ul {
            & li {
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                text-transform: capitalize;
                color: #04030A;
                opacity: 0.6;
                font-family: var(--font_inter);
                list-style: none;
            }
        }
    }

    &__progress {
        margin-top: 61px;

        @media #{$md} {
            margin-top: 30px;
        }

        .title {
            font-weight: 600;
            font-size: 44px;
            line-height: 54px;
            text-transform: capitalize;
            color: #04030A;
            font-family: var(--font_raleway);
            margin-bottom: 25px;
        }

        &__wrap {
            width: 100%;

            label {
                margin-bottom: 11px;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                text-transform: capitalize;
                color: #04030A;
                opacity: 0.6;
                font-family: var(--font_inter);

                @media #{$xs} {
                    font-size: 14px;
                    line-height: 26px;
                }
            }

            .progress-outer {
                position: relative;

                .progress-num {
                    top: -38px;
                    display: flex;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    text-transform: capitalize;
                    color: #04030A;
                    opacity: 0.6;                    
                    position: absolute;
                    align-items: center;
                    justify-content: end;
                    font-family: var(--font_inter);
                    position: absolute;
                    transform: translateX(-50%);

                }

                .progress {
                    background: rgba(15, 14, 14, 0.12);
                    border-radius: 6px;
                    height: 4px;

                    .progress-bar {
                        color: var(--white);
                        background: #2F80ED;
                        border-radius: 6px;
                    }
                }
            }
        }

        .progress {
            width: 100%;
            height: 10px;
            background: #2F80ED;
            border-radius: 50px;
            overflow: hidden;

            .progress-bar {
                height: 100%;
                width: 0%;
                background: #2F80ED;
                border-radius: 50px;
                transition: width 1.3s ease;
            }
        }

        &__item {
            padding: 5px 0;
            border-radius: 5px;
            margin-bottom: 15px;

            @media #{$xs} {
                gap: 15px;
                flex-wrap: wrap;
                margin-bottom: 25px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .icon {
                display: flex;
                padding: 18px 18px;
                border-radius: 5px;
                align-items: center;
                background: var(--white);
                justify-content: center;

                @media #{$xs} {
                    padding: 12px 12px;
                }
            }
        }

    }




}
