// advanced-5 css

.advanced-5 {
    &__item {
        background: #EDF3FF;
        border-radius: 20px;
        padding: 0 10px 10px 10px;
    }

    &__thumb {
        text-align: center;
        position: relative;
        z-index: 1;

        img {
            object-fit: cover;
            max-height: 307px;
            height: 100%;
        }
    }

    &__content {
        background: var(--white);
        box-shadow: 0px 8px 24.1px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 142px 20px 31px 20px;
        text-align: center;
        margin-top: -119px;

        &-2 {
            margin-top: -135px;
        }

        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: var(--secondary);
            font-family: var(--font_dm-sans);
            margin-bottom: 9px;

            @media #{$sm} {
                font-size: 22px;
                line-height: 24px;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: rgba(17, 17, 17, 0.8);
            font-family: var(--font_dm-sans);

            @media #{$lg} {
                font-size: 15px;

                br {
                    display: none;
                }
            }
        }
    }

    &__inner {
        position: relative;
    }

    &__arrow {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .rr-button-next {
            margin-left: -30px;

            @media #{$xxl} {
                margin-left: 0;
            }
        }

        .rr-button-prev {
            margin-right: -30px;

            @media #{$xxl} {
                margin-right: 0;
            }
        }

        .rr-button {
            width: 60px;
            height: 60px;
            background: #EDF3FF;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-in-out;

            i {
                color: #4954CC;
                font-size: 18px;
                transition: all .3s ease-in-out;
            }

            &:hover {
                background: #4954CC;

                i {
                    color: var(--white);
                }
            }
        }
    }
}


// our-experts-5 css

.our-experts-5 {
    .section-title-5__wrapper{
        margin-bottom: 35px;
        @media #{$md} {
            margin-bottom: 20px;
        }
    }
    &__inner{
        .our-experts-5__active{
            padding: 20px 10px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    &-pagination {
        text-align: center;
        margin-top: 35px;
        @media #{$md} {
            margin-top: 20px;
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: transparent;
            border: 1px solid #4954CC;
            opacity: 1;
            margin-right: 9px !important;
            transition: all 0.3s ease;

            &-active {
                background: #4954CC;
            }
        }
    }
    &__item {
        background: #FFFFFF;
        box-shadow: 0px 8px 24.1px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        transition: all .3s ease-in-out;
        border: 2px solid transparent;
        &:hover {
            background: #F7FAFF;
            border: 2px solid #4BB1FA;
            box-shadow: 0px 8px 20px rgba(0, 123, 215, 0.2);
            transform: translateY(-10px);
        }
    }

    &__thumb {
        position: relative;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
            position: relative;
            z-index: 2;
        }

        .shape-1 {
            position: absolute;
            left: 32px;
            right: 16px;
            bottom: -150px;
        }
    }

    &__icon {
        a {
            background: #EDF3FF;
            border: 1.17647px solid rgba(17, 17, 17, 0.1);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            position: absolute;
            right: 20px;
            top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;

            i {
                color: var(--secondary);
                font-size: 18px;
                transition: all .3s ease-in-out;
            }

            &:hover {
                i {
                    color: var(--primary);
                }

            }
        }
    }

    &__content {
        padding: 25px 21px 15px 21px;
        border-radius: 14px;
        background: var(--white);
        position: relative;
        z-index: 4;

        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 26px;
            letter-spacing: -0.03em;
            color: var(--secondary);
            font-family: var(--font_dm-sans);
            margin-bottom: 5px;

            i {
                font-size: 16px;
                color: #4954CC;
                margin-left: 10px;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: rgba(17, 17, 17, 0.7);
            font-family: var(--font_dm-sans);
        }
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 70px;
        padding: 10px;
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        border-bottom: 1px solid rgba(17, 17, 17, 0.1);
        margin-top: 19px;
        @media #{$xxl} {
            gap: 20px;
            padding: 10px 0;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        flex-wrap: wrap;
        &:first-child{
            &::before {
                position: absolute;
                content: '';
                right: -35px;
                top: 0;
                height: 100%;
                width: 1px;
                background: rgba(17, 17, 17, 0.1);
                @media #{$xxl} {
                    right: -11px;
                }
            }
    
        }
        .icon-box {
            min-width: 30px;
            height: 30px;
            background: #EAF1FE;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 16px;
                color: #4954CC;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: rgba(17, 17, 17, 0.7);
            font-family: var(--font_dm-sans);
            display: flex;
            align-items: center;
            @media #{$sm} {
                font-size: 13px;
                line-height: 22px;
            }
            span {
                color: var(--secondary);
                font-family: var(--font_dm-sans);
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-top: 18px;

        a {
            font-weight: 600;
            font-size: 18px;
            line-height: 40px;
            letter-spacing: -0.03em;
            color: #4954CC;
            font-family: var(--font_dm-sans);
            transition: all .3s ease-in-out;

            &:hover {
                color: var(--secondary);
            }
        }
    }
}