// elite-4 css

.elite-4 {
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media #{$lg} {
            grid-template-columns: repeat(3, 1fr);
        }

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        background: #F2F3EE;
        border-radius: 10px;

        &:hover {
            .elite-4 {
                &__thumb {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    &__thumb {
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: all .3s ease-in-out;
        }
    }

    &__content {
        padding: 29px 30px 24px 30px;

        @media #{$xxl} {
            padding: 29px 15px 24px 15px;
        }

        .title {
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -0.72px;
            color: var(--secondary);
            font-family: var(--font_marcellus);
        }

        .decs {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #555555;
            font-family: var(--font_dm-sans);
        }
    }

    &__box {
        display: grid;
        gap: 45px;
        align-items: center;
        grid-template-columns: 121px 1fr;
        margin-top: 17px;
        margin-bottom: 23px;

        @media #{$xl} {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

    }

    &__author {
        display: flex;
        align-items: center;
        gap: 9px;
        position: relative;

        @media #{$xl} {
            flex-wrap: wrap;

        }

        &::before {
            position: absolute;
            content: '';
            right: -23px;
            height: 100%;
            width: 1px;
            background: rgba(17, 17, 17, 0.1);

            @media #{$xl} {
                right: -10px;
            }

            @media #{$xs} {
                display: none;
            }
        }
    }

    .author-details {
        h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.54px;
            color: #111111;
            font-family: var(--font_dm-sans);
            display: flex;
            align-items: center;

            span {
                font-family: var(--font_dm-sans);
            }
        }

        .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: var(--body-bg);
            font-family: var(--font_dm-sans);

        }
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 9px;
        flex-wrap: wrap;

        .rating-icon {
            i {
                font-size: 25px;
                color: #EFA419;
            }
        }
    }

    .rating-details {
        .rating {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.54px;
            color: #111111;
            font-family: var(--font_dm-sans);
        }

        .decs {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: var(--body-bg);
            font-family: var(--font_dm-sans);

            @media #{$lg} {
                font-size: 15px;
                line-height: 24px;
            }

        }
    }

    &__btn {
        .rr-btn {
            width: 100%;
            border: 1px solid rgba(17, 17, 17, 0.1);
            border-radius: 12px;
            background: transparent;
            padding: 4.5px 23px;

            &::before {
                background: #68511E;
            }

            .btn-wrap {
                .text-one {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 40px;
                    letter-spacing: -0.03em;
                    color: #68511E;
                    font-family: var(--font_dm-sans);
                }

                .text-two {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 40px;
                    letter-spacing: -0.03em;
                    color: var(--white);
                    font-family: var(--font_dm-sans);
                }
            }
        }
    }
}

// beauty-products-4 css

.beauty-products-4 {
    &__wrapper {
        padding: 0 20px;

        @media #{$lg} {
            padding: 0 12px;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media #{$lg} {
            grid-template-columns: repeat(3, 1fr);
        }

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        background: #F2F3EE;
        border-radius: 15px;

        &:hover {
            .beauty-products-4 {
                &__thumb {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    &__thumb {
        position: relative;
        border-radius: 15px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
            transition: all .3s ease-in-out;
        }
    }

    &__tag {
        top: 39px;
        left: 30px;
        position: absolute;

        @media #{$xl} {
            top: 15px;
            left: 15px;
        }

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: -0.02em;
            color: var(--body-bg);
            font-family: var(--font_dm-sans);
        }
    }

    &__card {
        top: 30px;
        gap: 6px;
        right: 36px;
        display: flex;
        list-style: none;
        position: absolute;
        align-items: center;

        @media #{$xl} {
            top: 15px;
            right: 15px;
        }

        li {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            border-radius: 500px;
            background: #F4F4F4;
            justify-content: center;

            &:hover {
                svg [fill="#242C17"] {
                    fill: var(--primary);
                    transition: all 0.3s ease-in-out;
                    opacity: 1;
                }
            }
        }
    }

    &__content {
        padding: 19px 30px 30px 30px;

        @media #{$xxl} {
            padding: 19px 15px 30px 15px;
        }

        .title {
            font-weight: 400;
            font-size: 24px;
            line-height: 42px;
            letter-spacing: -0.72px;
            color: #111111;
            font-family: var(--font_marcellus);
            margin-bottom: 5px;

            @media #{$xxl} {
                font-size: 22px;
                line-height: 32px;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: var(--body-bg);
            font-family: var(--font_dm-sans);
            margin-top: 14px;

            @media #{$xxl} {
                br {
                    display: none;
                }
            }
        }
    }

    &__rating {
        display: flex;
        gap: 10px;

        .reviews {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: -0.48px;
            color: var(--body-bg);
            font-family: var(--font_dm-sans);

        }
    }

    &__star {
        display: flex;
        align-items: center;

        li {
            list-style: none;

            i {
                color: #DAA529;
            }
        }
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 24px;

        .price {
            font-weight: 500;
            font-size: 30px;
            line-height: 25px;
            letter-spacing: -0.02em;
            color: #242C17;
            font-family: var(--font_dm-sans);

            @media #{$xl} {
                font-size: 25px;
                line-height: 25px;
            }
        }
    }

}

// service-4 css

.service-4 {
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media #{$lg} {
            grid-template-columns: repeat(3, 1fr);
        }

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        background: #F2F3EE;
        border-radius: 12px;
        padding: 30px 10px;
        transition: all .3s ease-in-out;

        &:hover {
            background: #68511E;
            box-shadow: 0px 42px 107px rgba(104, 81, 30, 0.34), 0px 24.7206px 32.2574px rgba(104, 81, 30, 0.1867), 0px 10.2677px 13.3981px rgba(104, 81, 30, 0.22), 0px 3.71362px 4.84582px rgba(104, 81, 30, 0.153301), 0px 0px 0px 4px #E0E9F2, 0px 0px 0px 5px #FFFFFF, inset 0px 1px 18px 2px #68511E, inset 0px 1px 4px 2px #68511E;
            border-radius: 12px;

            .service-4 {
                &__thumb {
                    img {
                        transform: scale(1);
                    }
                }

                &__icon {
                    border: 1px solid var(--white);

                    img {
                        filter: brightness(0) invert(1);
                    }
                }

                &__content {
                    .title {
                        color: var(--white);

                        a {
                            color: var(--white);
                        }
                    }

                    .decs {
                        color: rgba(255, 255, 255, 0.7);
                    }
                }

                &__btn {
                    .rr-btn {
                        background: var(--white);
                    }
                }
            }
        }
    }

    &__icon {
        border: 1px solid #111111;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 26px;
        transition: all .3s ease-in-out;

        img {
            transition: all .3s ease-in-out;
        }
    }

    &__content {
        text-align: center;

        .title {
            font-weight: 400;
            font-size: 36px;
            line-height: 30px;
            letter-spacing: -1.08px;
            color: var(--secondary);
            font-family: var(--font_marcellus);
            margin-bottom: 7px;
            transition: all .3s ease-in-out;

            @media #{$sm} {
                font-size: 30px;
                line-height: 30px;
            }

            a {
                color: var(--secondary);
                transition: all .3s ease-in-out;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.32px;
            color: var(--body-bg);
            font-family: var(--font_dm-sans);
            transition: all .3s ease-in-out;

            @media #{$sm} {
                br {
                    display: none;
                }
            }
        }
    }

    &__thumb {
        margin-top: 25px;
        background: var(--white);
        border-radius: 10px;
        margin-bottom: 25px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transform: scale(0.43);
            transition: all .3s ease-in-out;
        }
    }

    &__btn {
        margin-top: 24px;
        padding: 0 10px;

        .rr-btn {
            background: transparent;
            border: 1px solid rgba(17, 17, 17, 0.1);
            border-radius: 12px;
            width: 100%;
            padding: 11px 23px;
            transition: all .3s ease-in-out;

            &::before {
                background: var(--white);
            }

            .btn-wrap {
                .text-one {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: -0.64px;
                    color: var(--secondary);
                    font-family: var(--font_dm-sans);

                    i {
                        color: var(--secondary);
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                .text-two {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: -0.64px;
                    color: var(--secondary);
                    font-family: var(--font_dm-sans);

                    i {
                        color: var(--secondary);
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

// .your-side-4 css

.your-side-4 {
    &__brand {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        align-items: center;

        @media #{$lg} {
            grid-template-columns: repeat(3, 1fr);
        }

        @media #{$sm} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }

        .brand__item {
            background: #F2F3EE;
            box-shadow: 0.222px 0.222px 0.314px -0.5px rgba(0, 0, 0, 0.2), 0.605px 0.605px 0.856px -1px rgba(0, 0, 0, 0.18), 1.329px 1.329px 1.88px -1.5px rgba(0, 0, 0, 0.25), 2.95px 2.95px 4.172px -2px rgba(0, 0, 0, 0.1), 2.5px 2.5px 3px -2.5px rgba(0, 0, 0, 0.15), -0.5px -0.5px 0px rgba(0, 0, 0, 0.1), inset 0.5px 0.5px 1px #FFFFFF, inset -0.5px -0.5px 1px rgba(0, 0, 0, 0.15);
            border-radius: 15px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 20px;

        @media #{$xl} {
            grid-template-columns: repeat(3, 1fr);
        }

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }

    }

    &__item {
        background: #F2F3EE;
        box-shadow: 0.222px 0.222px 0.314px -0.5px rgba(0, 0, 0, 0.2), 0.605px 0.605px 0.856px -1px rgba(0, 0, 0, 0.18), 1.329px 1.329px 1.88px -1.5px rgba(0, 0, 0, 0.25), 2.95px 2.95px 4.172px -2px rgba(0, 0, 0, 0.1), 2.5px 2.5px 3px -2.5px rgba(0, 0, 0, 0.15), -0.5px -0.5px 0px rgba(0, 0, 0, 0.1), inset 0.5px 0.5px 1px #FFFFFF, inset -0.5px -0.5px 1px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        padding: 29px 20px;
        display: flex;
        align-items: center;
        gap: 19px;

        @media #{$xxl} {
            padding: 29px 15px;
        }

        @media #{$sm} {
            flex-wrap: wrap;
        }
    }

    &__icon {
        background: linear-gradient(244.15deg, rgba(17, 17, 17, 0.005) 5.23%, rgba(255, 255, 255, 0.5) 50.8%, rgba(17, 17, 17, 0.015) 106.08%);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        min-width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{$xxl} {
            min-width: 70px;
            height: 70px;
        }
    }

    &__content {
        .title {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.6px;
            color: var(--secondary);
            font-family: var(--font_dm-sans);
            margin-bottom: 10px;

            @media #{$lg} {
                font-size: 18px;
                line-height: 24px;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.32px;
            color: var(--body-bg);
            font-family: var(--font_dm-sans);
        }
    }
}

// pricing-4 css

.pricing-4 {
    .section-title-4__wrapper {
        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #555555;
            font-family: var(--font_dm-sans);
            margin-top: 36px;

            @media #{$md} {
                margin-top: 15px;
            }
        }
    }

    &__toggle {
        display: flex;
        padding: 5px;
        border-radius: 50px;
        gap: 5px;
        margin-bottom: 35px;
        justify-content: center;

        .toggle-btn {
            border: none;
            padding: 12.5px 20px;
            border-radius: 50px;
            font-weight: 400;
            font-size: 18px;
            line-height: 1;
            letter-spacing: -0.54px;
            color: var(--secondary);
            font-family: var(--font_dm-sans);
            cursor: pointer;
            background: transparent;
            transition: all 0.3s ease;

            &.active {
                background: #6A521F;
                color: var(--white);
            }
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        padding: 35px 38px 35px 40px;
        background: #F2F3EE;
        border-radius: 20px;
        height: fit-content;
        position: relative;

        @media #{$xl} {
            padding: 35px 15px 35px 15px;
        }

        &:nth-child(2) {
            border: 1px solid rgba(104, 81, 30, 0.4);
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
        }

        .bookmark {
            position: absolute;
            right: 30px;
            top: 0;

            @media #{$md} {
                right: 15px;
            }
        }
    }

    &__content {
        .title {
            font-weight: 400;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.9px;
            color: var(--secondary);
            font-family: var(--font_marcellus);
            margin-bottom: 5px;

            @media #{$lg} {
                font-size: 26px;
                line-height: 30px;
            }

            @media #{$sm} {
                font-size: 22px;
                line-height: 30px;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.54px;
            color: var(--secondary);
            font-family: var(--font_dm-sans);

            @media #{$xl} {
                & br {
                    display: none;
                }
            }
        }

        .text {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.54px;
            color: var(--secondary);
            font-family: var(--font_dm-sans);
            margin-top: 7px;

            strong {
                text-decoration-line: underline;
            }
        }

        .included {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: -0.03em;
            color: var(--secondary);
            font-family: var(--font_dm-sans);
            margin-bottom: 13px;
        }

    }

    &__price {
        margin-top: 31px;

        @media #{$lg} {
            margin-top: 20px;
        }

        .price {
            font-weight: 400;
            font-size: 30px;
            line-height: 28px;
            letter-spacing: -0.9px;
            color: var(--secondary);
            font-family: var(--font_marcellus);
        }
    }

    &__list {
        li {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: -0.03em;
            color: var(--secondary);
            font-family: var(--font_dm-sans);

            @media #{$lg} {
                font-size: 16px;
                line-height: 25px;
            }

            i {
                color: #68511E;
            }
        }
    }

    &__btn {
        margin-top: 28px;
        margin-bottom: 45px;

        @media #{$lg} {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .rr-btn-primary {
            border: 1px solid #111111;
            border-radius: 45px;
            background: transparent;
            width: 100%;
            padding: 12.5px 23px;
            align-items: center;
            gap: 8px;

            &:hover {
                background: #68511E;
                border-radius: 45px;
                border: 1px solid #68511E;

            }

            .text {
                span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    letter-spacing: -0.03em;
                    color: var(--secondary);
                    font-family: var(--font_dm-sans);
                }
            }

            i {
                color: var(--secondary);
                transform: rotate(-45deg);
                font-size: 16px;
            }
        }

    }
}

// instagram-4 css
.instagram-4 {
    &__wrapper {
        .instagram-4__slider {
            .swiper-wrapper {
                transition-timing-function: linear;

                .swiper-slide {
                    width: auto;
                }
            }
        }
    }

    &__thumb {
        position: relative;

        &:hover {
            .instagram-4 {
                &__icon {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        width: 40px;
        background: var(--white);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        &:hover {
            background: var(--primary);

            i {
                color: var(--white);
            }
        }

        i {
            color: var(--secondary);
            transition: all .3s ease-in-out;
        }
    }
}

// hero-4 css

.hero-4 {
    &__wrapper {
        padding-top: 197px;
        padding-bottom: 29px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, rgba(104, 81, 30, 0.4), rgba(104, 81, 30, 0.4));
            background-blend-mode: multiply, normal;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr 365px;
        gap: 52px;
        position: relative;
        z-index: 1;
    }

    &__content {
        .sub-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.54px;
            color: #F9F7F5;
            font-family: var(--font_dm-sans);
            margin-bottom: 13px;
        }

        .title {
            font-weight: 400;
            font-size: 100px;
            line-height: 100px;
            letter-spacing: -3px;
            color: #F9F7F5;
            font-family: var(--font_marcellus);
            max-width: 862px;
            margin-bottom: 20px;
        }

        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.7);
            font-family: var(--font_dm-sans);
            max-width: 421px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 45px;

        .rr-btn {
            background: #68511E;
            background-blend-mode: plus-lighter, normal;
            border-radius: 12px;
            padding: 11px 32px;

            .btn-wrap {
                .text-one {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 40px;
                    letter-spacing: -0.03em;
                    color: var(--white);
                    font-family: var(--font_inter);
                }

                .text-two {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 40px;
                    letter-spacing: -0.03em;
                    color: var(--white);
                    font-family: var(--font_inter);
                }
            }
        }
    }

    &__play {
        a {
            display: flex;
            align-items: center;
            gap: 15px;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: var(--white);
            font-family: var(--font_inter);
            transition: all .3s ease-in-out;

            &:hover {
                color: var(--primary);

                span {
                    border: 1px solid var(--primary);
                }
            }
        }

        span {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid var(--white);
            transition: all .3s ease-in-out;

            i {
                font-size: 14px;
            }
        }
    }

    &__acepmet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 86px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;

        .content {
            .title {
                font-weight: 500;
                font-size: 24px;
                line-height: 1;
                letter-spacing: -0.03em;
                color: var(--white);
                font-family: var(--font_dm-sans);
                display: flex;
                align-items: center;
                margin-bottom: 3px;
            }

            .decs {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.02em;
                color: var(--white);
                font-family: var(--font_dm-sans);
            }
        }
    }

    &__star {
        display: flex;

        li {
            list-style: none;
            gap: 1px;

            i {
                color: #EAA000;
                font-size: 14px;
            }
        }
    }

    &__brand {
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: -27px 66px 29px rgba(145, 145, 145, 0.01), -15px 37px 24px rgba(145, 145, 145, 0.03), -7px 17px 18px rgba(145, 145, 145, 0.04), -2px 4px 10px rgba(145, 145, 145, 0.05), inset 0px -3px 4px rgba(255, 255, 255, 0.15), inset 0px 3px 4px rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 24.5px 39px 24.5px 20px;

        .brand__item {
            position: relative;

            &:not(:first-child) {
                &::before {
                    position: absolute;
                    content: '';
                    left: -80px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 121px;
                    width: 1px;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
                }
            }

            .decs {
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.36px;
                color: rgba(255, 255, 255, 0.7);
                max-width: 211px;
                font-family: var(--font_dm-sans);
            }
        }
    }

    &__privacy {
        text-align: center;
        margin-top: 31px;
        position: relative;
        z-index: 1;

        .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.7);
            font-family: var(--font_dm-sans);

            svg {
                margin-right: 13px;
            }
        }
    }
}

// algorithm-overview-4 css

.algorithm-overview-4 {
    &__wrap {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 60px;
        flex-wrap: wrap;
        gap: 20px;

        @media #{$lg} {
            margin-bottom: 40px;
        }

        .section-title-4__wrapper {
            text-align: start;
            margin-bottom: 0;

            .title {
                max-width: 653px;

                @media #{$lg} {
                    max-width: 100%;
                }
            }
        }
    }

    &__btn {
        .rr-btn {
            background: #68511E;
            border-radius: 12px;
            padding: 16.5px 30.6px;
            transform: translateY(-10px);

            @media #{$lg} {
                transform: translateY(0px);
            }

            @media #{$xs} {
                padding: 16.5px 20.6px
            }

            .btn-wrap {
                .text-one {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1;
                    letter-spacing: -0.03em;
                    color: var(--white);
                    font-family: var(--font_dm-sans);

                    @media #{$xs} {
                        font-size: 16px;
                    }

                    i {
                        font-size: 18px;
                    }
                }

                .text-two {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1;
                    letter-spacing: -0.03em;
                    color: var(--white);
                    font-family: var(--font_dm-sans);

                    @media #{$xs} {
                        font-size: 16px;
                    }

                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: 282px 270px 1fr;
        gap: 166px;

        @media #{$xxl} {
            gap: 90px;
        }

        @media #{$xl} {
            gap: 20px;
        }

        @media #{$lg} {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        >* {
            &:nth-child(3) {
                @media #{$md} {
                    grid-column: 1 / -1;
                }
            }
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
    }

    &__details {
        margin-left: 40px;
        margin-top: 195px;

        @media #{$xl} {
            margin-left: 0;
            margin-top: 100px;
        }

        @media #{$lg} {
            margin-top: 0;
        }

        .decs {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.36px;
            color: #787B6D;
            font-family: var(--font_dm-sans);
        }
    }

    &__box {
        margin-left: 15px;

        @media #{$xl} {
            margin-left: 0;
        }
    }

    &__thumb {
        position: relative;
        height: fit-content;
        max-width: 270px;
        width: 100%;

        .image {
            border-radius: 135px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__media {
        img {
            border: 5px solid #F9F7F5;
            border-radius: 50%;
            min-width: 100px;
            height: 100px;
            object-fit: cover;
            transform: rotate(20deg);
        }

        .img-1 {
            position: absolute;
            left: -37px;
            top: 6px;

            @media #{$xl} {
                left: -20px;
            }

            @media #{$xs} {
                left: 0;
            }
        }

        .img-2 {
            position: absolute;
            left: -58px;
            top: 136px;

            @media #{$xl} {
                left: -30px;
            }

            @media #{$xs} {
                left: 0;
            }
        }

        .img-3 {
            position: absolute;
            left: -27px;
            bottom: 14px;

            @media #{$xl} {
                left: -20px;
            }

            @media #{$xs} {
                left: 0;
            }
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 80px 1fr;
        align-items: center;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &__icon {
        position: relative;
        border-top: 1px solid #DFDFDF;
        border-radius: 0 20px 0 0px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{$xs} {
            justify-content: start;
            border: none;
            height: 80px;
        }

        &::before {
            position: absolute;
            content: '';
            right: 0;
            bottom: 0;
            height: 96px;
            width: 1px;
            background: #DFDFDF;

            @media #{$xs} {
                display: none;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 275px;
        position: relative;
        align-items: center;
        border-top: 1px solid #DFDFDF;
        border-radius: 20px 0 0 0;
        padding: 25px 0 26px 20px;
        gap: 15px;

        @media #{$xs} {
            grid-template-columns: 1fr;
            padding: 25px 0 26px 0px;
            border-radius: 0;
        }

        .title {
            font-weight: 400;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.03em;
            color: #111111;
            font-family: var(--font_marcellus);

            @media #{$xs} {
                br {
                    display: none;
                }
            }
        }

        .decs {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #787B6D;
            font-family: var(--font_dm-sans);

            @media #{$xs} {
                br {
                    display: none;
                }
            }
        }
    }
}


// our-treatment-4 css

.our-treatment-4 {
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 424px 501px;
        gap: 20px;

        @media #{$xl} {
            grid-template-columns: 1fr 380px 370px;
        }

        >* {
            &:nth-child(1) {
                @media #{$lg} {
                    grid-column: 1 / -1;
                }
            }
        }

        @media #{$lg} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &__content {

        .section-title-4__wrapper {
            text-align: start;
            margin-bottom: 33px;

            .decs {
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.54px;
                color: #555555;
                font-family: var(--font_dm-sans);
                max-width: 490px;
                margin-top: 30px;
            }
        }
    }

    &__list {
        li {
            list-style: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: -0.03em;
            color: var(--secondary);
            font-family: var(--font_dm-sans);

            i {
                color: var(--primary-3);
                font-size: 16px;
                margin-right: 12px;
            }
        }
    }

    &__btn {
        margin-top: 38px;

        .rr-btn {
            background: #68511E;
            border-radius: 12px;
            padding: 16.5px 30.6px;

            .btn-wrap {
                .text-one {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1;
                    letter-spacing: -0.03em;
                    color: var(--white);
                    font-family: var(--font_dm-sans);

                    i {
                        font-size: 18px;
                    }
                }

                .text-two {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1;
                    letter-spacing: -0.03em;
                    color: var(--white);
                    font-family: var(--font_dm-sans);

                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 18.5px 20px;
        background: #F2F3EE;
        border-radius: 15px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        @media #{$sm} {
            gap: 10px;
            padding: 18.5px 15px;
            flex-wrap: wrap;
        }

        .content {
            .title {
                font-weight: 400;
                font-size: 30px;
                line-height: 30px;
                letter-spacing: -0.9px;
                color: var(--secondary);
                font-family: var(--font_marcellus);
                margin-bottom: 5px;

                @media #{$xl} {
                    font-size: 27px;
                    line-height: 30px;
                }
            }

            .decs {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.32px;
                color: var(--body-bg);
                font-family: var(--font_dm-sans);
            }
        }
    }

    &__icon {
        min-width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 50%;
        position: relative;
        transition: all 0.3s ease-in-out;

        @media #{$sm} {
            min-width: 70px;
            height: 70px;
        }

        .number {
            position: absolute;
            left: -8px;
            top: -8px;
            width: 30px;
            height: 30px;
            background: #68511E;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: var(--white);
            font-family: var(--font_dm-sans);
            transition: all 0.3s ease-in-out;
        }
    }

    &__thumb {
        position: relative;
        height: fit-content;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    &__card {
        position: absolute;
        right: 30px;
        top: 30px;
        max-width: 146px;
        border-radius: 10px;
        background: var(--white);
        padding: 20px 24px 16px 24px;

        .decs {
            font-family: var(--font_dm-sans);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: var(--body-bg);
            margin-top: 10px;
        }
    }

    &__item {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &.active {
            background: var(--primary-3);

            .title {
                color: var(--white);
            }

            .decs {
                color: rgba(255, 255, 255, 0.7);
            }

            .our-treatment-4 {
                &__icon {
                    border: 1px solid rgba(255, 255, 255, 0.1);

                    img {
                        filter: brightness(0) invert(1);
                    }

                    .number {
                        background: var(--white);
                        color: var(--secondary);
                    }
                }

                &__thumb {
                    .image {
                        animation-duration: 0.4s;
                        animation-fill-mode: both;
                    }
                }
            }
        }
    }
}

// .faq-section-4 css

.faq-section-4 {
    .nav-pills{
        display: grid;
        grid-template-columns: 1fr 1fr 356px 1fr 1fr;
        justify-content: center;
        gap: 21px;
        @media #{$xl} {
            grid-template-columns: 1fr 1fr 290px 1fr 1fr;
        }
        @media #{$lg} {
            grid-template-columns:repeat(3, 1fr);
        }
        @media #{$sm} {
            grid-template-columns:repeat(2, 1fr);
        }
        @media #{$xs} {
            grid-template-columns:repeat(1, 1fr);
        }

    }
    .nav-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 18px;
        color: var(--secondary);
        font-family: var(--font_dm-sans);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;        
        padding: 20.5px 12.4px;
        background: #F2F3EE;
        border-radius: 12px;
        transition: all 0.2s ease;
        width: 100%;
        @media #{$xl} {
            font-size: 18px;
            line-height: 18px;
        }

        @media #{$md} {
            font-size: 16px;
            line-height: 18px;
            padding: 15px 12.4px;
        }
        img{
            transition: all 0.2s ease;
        }

        &.active,
        &:hover {
            color: #fff;
            border-color: transparent;
            background-color: var(--primary-3);
            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    .tab-content {
        .tab-pane {
            opacity: 0;
            transform: translateY(25px);
            transition: all 0.3s ease-in-out;
        }

        .tab-pane.show.active {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 592px;
        gap: 50px;
        margin-top: 40px;
        @media #{$xl} {
            grid-template-columns: 1fr 395px;
            gap: 25px;
        }
        @media #{$md} {
            grid-template-columns: 1fr 320px;
        }
        @media #{$sm} {
            grid-template-columns: 1fr ;
        }

        .accordion {
            counter-reset: accordion;
        }

        .accordion-button {
            padding: 29px 38px 29px 39px;
            background-color: transparent;
            outline: 0;
            box-shadow: none;
            border-radius: 0;
            gap: 10px;
            @media #{$lg} {
                padding: 29px 15px 29px 15px;
            }
    
            @media #{$xs} {
                padding: 24px 15px 24px 15px;
            }

            &::after {
                content: "\f055";
                font-family: var(--font_awesome);
                background-image: none;
                font-weight: 400;
                font-size: 19px;
                line-height: 16px;
                color: var(--secondary);
                transition: all 0.5s;
            }

            &:not(.collapsed) {
                background: #F2F3EE;
                border-radius: 15px 15px 0 0;
                padding: 43px 38px 40px 39px;
                @media #{$lg} {
                    padding: 30px 15px 30px 15px;
                }
                @media #{$xs} {
                    padding: 20px 15px 10px 15px;
                }

                &::after {
                    content: "\f056";
                    color: var(--secondary);
                }
            }
        }

        .accordion-item {
            background-color: transparent;
            border: none;
            border: 1px solid rgba(17, 17, 17, 0.15);
            border-radius: 15px;
            position: relative;
            transition: all 0.5s;
            margin-bottom: 20px;

            &:has(.accordion-button:not(.collapsed)) {
                border: 1px solid transparent
            }

            &:last-child {
                margin-bottom: 0;
            }

            .title {
                display: flex;
                font-weight: 500;
                font-size: 22px;
                line-height: 18px;
                color: var(--secondary);
                font-family: var(--font_dm-sans);
                transition: all .3s ease-in-out;
                gap: 10px;
                @media #{$md} {
                    font-size: 18px;
                    line-height: 18px;                
                }
                @media #{$xs} {
                    font-size: 16px;
                    line-height: 21px;
                }
            }

        }


        .accordion-body {
            padding: 0px 30px 27px 30px;
            border: none;
            background: #F2F3EE;
            border-radius: 0 0px 15px 15px;
            margin-top: -2px;
            @media #{$lg} {
                padding: 0px 15px 27px 15px;
            }
            @media #{$xs} {
                padding: 0px 15px 25px 15px;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                letter-spacing: -0.32px;
                color: var(--body-bg);
                max-width: 753px;
                font-family: var(--font_dm-sans);

                @media #{$xl} {
                    & br {
                        display: none;
                    }
                }

            }
        }
    }

    &__info {
        background: #F2F3EE;
        border-radius: 15px;
        padding: 75px 20px 30px 20px;
        text-align: center;
        @media #{$md} {
            padding: 30px 15px 30px 15px;
        }
        .time {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.32px;
            color: var(--body-bg);
            font-family: var(--font_dm-sans);
        }

        h2 {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.6px;
            color: var(--secondary);
            font-family: var(--font_dm-sans);
            margin-top: 7px;

            i {
                margin-right: 15px;
            }
        }

        .title {
            font-weight: 400;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.9px;
            color: var(--secondary);
            font-family: var(--font_marcellus);
            margin-top: 59px;
            margin-bottom: 10px;
            @media #{$sm} {
                margin-top: 20px;
            }
            @media #{$xs} {
                font-size: 25px;
                line-height: 30px;
            }
        }

        .decs {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.32px;
            color: var(--body-bg);
            font-family: var(--font_dm-sans);
            margin-bottom: 23px;
        }

        .rr-btn {
            background: #68511E;
            border-radius: 12px;
            padding: 16.5px 30.6px;

            .btn-wrap {
                .text-one {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1;
                    letter-spacing: -0.03em;
                    color: var(--white);
                    font-family: var(--font_dm-sans);

                    i {
                        font-size: 18px;
                        font-weight: 400;
                    }
                }

                .text-two {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1;
                    letter-spacing: -0.03em;
                    color: var(--white);
                    font-family: var(--font_dm-sans);

                    i {
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &__box {
        background: #F2F3EE;
        border-radius: 15px;
        margin-top: 20px;

        .content {
            padding: 25px 20px;
            text-align: center;

            .title {
                font-weight: 500;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -0.03em;
                color: var(--secondary);
                font-family: var(--font_dm-sans);
                margin-bottom: 5px;
            }

            .decs {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: rgba(17, 17, 17, 0.7);
                font-family: var(--font_dm-sans);
            }
        }
    }

    &__play {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
            background: var(--white);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;

            i {
                font-size: 19px;
                color: var(--primary);
            }
        }
    }
}